nav {
  display            : flex;
  justify-content    : space-around;
  align-items        : center;
  position           : fixed;
  left               : 0;
  top                : 0;
  width              : 100%;
  z-index            : 1;
  /* background-color: black; */
  transition         : 0.6s ease-in-out;
  padding            : 11px;
  border-bottom      : 1px solid rgb(77, 77, 77);

}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#logo {
  width       : 140px;
  margin-right: 250px;
}

nav.active {
  box-shadow            : 5px 10px 30px rgba(0, 0, 0, 0.157);
  /* background-color   : #000000c7; */
  /* background-color   : #000000d2; */
  background-image      : url("../images/nav-bg.jpg");
  background-blend-mode : overlay;
  background-color      : rgba(0, 0, 0, 0.507);
  background-position   : center;
  padding               : 16px 0px;
}

nav ul {
  display: flex;
}

.active {
  /* background-color: #FF1414; */
  /* background-color: #0085be; */
  background-color: #000000;

  color     : #ffffff;
  box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
  transition: all ease 0.2s;
}

/* .active:hover {
  background-color: #000000;
  color           : #ffffff;
  box-shadow   : 5px 10px 30px rgba(198, 64, 64, 0.411);
  transition      : all ease 0.2s;
} */

nav ul li a {
  /* font-family   : 'Lato'; */
  font-family   : 'Oswald', sans-serif;
  height        : 40px;
  line-height   : 43px;
  margin        : 3px;
  padding       : 0px 22px;
  display       : flex;
  font-size     : 1.2rem;
  text-transform: uppercase;
  font-weight   : 500;
  color         : #ffffff;
  letter-spacing: 1px;
  border-radius : 3px;
  transition    : 0.2s ease-in-out;
}

nav ul li a:hover {
  background-color: #ffc000;
  color           : #ffffff;
  box-shadow      : 5px 10px 30px rgba(245, 127, 45, 1);
  box-shadow      : 5px 10px 30px rgba(245, 127, 45, 1);
  transition      : all ease 0.1s;
  border-bottom: solid 2px #fff;
}

nav .menu-btn,
.menu-icon {
  display: none;
}

@media(max-width:1100px) {
  .menu-icon {
    display: block;
  }

  nav {
    justify-content   : space-between;
    height            : 65px;
    /* padding        : 0px 30px; */
  }

  #logo {
    width       : 130px;
    margin-right: 10px;
  }

  .header-btns {
    margin: 0;
  }

  .menu {
    display         : none;
    position        : absolute;
    top             : 65px;
    left            : 0px;
    background-color: #FFFFFF;
    border-bottom   : 4px solid #1db096;
    width           : 100%;
    padding         : 0px;
    margin          : 0px;
  }

  .menu li {
    width: 100%;
  }

  nav .menu li a {
    width          : 100%;
    height         : 40px;
    justify-content: center;
    align-items    : center;
    margin         : 0px;
    padding        : 25px;
    border         : 1px solid rgba(38, 38, 38, 0.03);
  }

  nav .menu-icon {
    cursor     : pointer;
    float      : right;
    padding    : -1px 0px;
    position   : relative;
    user-select: none;


  }



  nav.active {
    /* padding: 0px 0px; */
    /* padding: 16px 0px; */
    padding: 0px 13px;

  }

  nav .menu-icon .nav-icon {
    background-color: #fff;
    display         : block;
    height          : 2px;
    position        : relative;
    transition      : background 0.2s ease-out;
    width           : 18px;
  }

  nav .menu-icon .nav-icon:before,
  nav .menu-icon .nav-icon:after {
    background-color: #fff;
    content   : '';
    display   : block;
    height    : 100%;
    position  : absolute;
    transition: all ease-out 0.2s;
    width     : 100%;
  }

  nav .menu-icon .nav-icon:before {
    top: 5px;
  }

  nav .menu-icon .nav-icon:after {
    top: -5px;
  }

  nav .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
  }

  nav .menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top      : 0;
  }

  nav .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top      : 0;
  }

  nav .menu-btn {
    display: none;
  }

  nav .menu-btn:checked~.menu {
    display: block;
  }
}

@media only screen and (max-width: 575px) {
  
}



/* button css */


.nav-btn {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {

  0%,
  7% {
    transform: rotateZ(0);
  }

  15% {
    transform: rotateZ(-15deg);
  }

  20% {
    transform: rotateZ(10deg);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  30% {
    transform: rotateZ(6deg);
  }

  35% {
    transform: rotateZ(-4deg);
  }

  40%,
  100% {
    transform: rotateZ(0);
  }
}

/* body {
  background: #000;
} */

.nav-btn {
  /* position: absolute; */
  left: calc(50% - 3em);
  top : calc(50% - 2em);

  height: 3em;
  width : 10em;

  background         : #444;
  /* background      : linear-gradient(top, #555, #333); */
  background         : linear-gradient(21deg, rgba(245, 127, 45, 1) 14%, rgba(255, 192, 0, 1) 58%);
  border             : none;
  border             : 2px solid orange;
  border-radius      : 0 0 0.2em 0.2em;
  color              : #fff;
  /* font-family     : Helvetica, Arial, Sans-serif; */
  font-size          : 1em;
  transform-origin   : 50% 5em;
  font-family        : 'Oswald', sans-serif;
  box-shadow         : 0 0.1rem 0.4rem rgba(0, 0, 0, 0.16);
}


/* button css end */
.list-items{
  display: inline;
  /* background-color: #ffc000; */
  background-image: url("../images/footer-bg.jpg");
  width: 100%;
  height: auto;
  margin: 0px;
  padding-bottom: 20px;
  padding-right: 20px;
}